body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
}

header {
    background: #007bff;
    color: white;
    padding: 15px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.banner {
    background: #0056b3;
    color: white;
    padding: 50px;
    margin-bottom: 20px;
}

.banner h2 {
    margin: 0;
}

button {
    padding: 10px 20px;
    border: none;
    background: #ffcc00;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

button:hover {
    background: #e6b800;
}

.services-container{
    width: 320px;
    height: 200px;
    background: linear-gradient(135deg, #4e73df, #1cc88a);
    color: #fff;
    border-radius: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.service-box:hover  {
    transform: scale(1.05);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.service-box {
    font-size: 1.6rem;
    font-weight: 500;
}

footer {
    background: #333;
    color: white;
    padding: 10px;
    margin-top: 20px;
}
